{{#if build.baseBuild}}
  <div {{action onLinkClick}}>
    {{#link-to "organization.project.builds.build" build.project.organization.slug build.project.slug build.baseBuild.id class="data-test-baseline-build-link"}}{{build.baseBuild.buildTitle}}{{/link-to}}
  </div>
{{else}}
  {{#if build.isFinished}}
    No baseline to compare against
  {{else}}
    --
  {{/if}}
{{/if}}
