<div class="changelog-post-list">
  {{#each changelogPosts as |changelogPost|}}
    {{#changelog-post
      postId=changelogPost.id
      tag=changelogPost.tag
      date=(moment-format changelogPost.date 'MMM D, YYYY')
    }}
      <h2>{{changelogPost.title}}</h2>
      {{markdown-to-html changelogPost.content}}
      {{#if changelogPost.image}}
        <img src="{{changelogPost.image.file.url}}">
      {{/if}}
    {{/changelog-post}}
  {{/each}}
</div>
