<label style="-webkit-tap-highlight-color: transparent;" class="checkbox-toggle-slider flex cursor-pointer select-none">
  <input type="checkbox" checked="checked">
  <span class="font-semibold mr-1">Webhook Enabled</span>
  <div style="width: 36px; height: 20px;" class="toggle-slider relative bg-gray-100 border border-gray-200 rounded-full">
    <div style="top: 1px; left: 1px;" class="toggle-dot w-3 h-3 absolute bg-white rounded-full shadow-dark-lg"></div>
  </div>
</label>
