<div class="build-card bg-white cursor-pointer">
  <div class="progress-bar-light rounded text-transparent">
    <div style="margin-bottom: -6px;">
      <div class="text-xl md:text-2xl font-mono progress-bar-light rounded text-transparent">
        1234
      </div>
    </div>
    <div class="text-smtext-transparent font-semibold whitespace-no-wrap truncate">
      1 day ago
    </div>
  </div>
  <div style="min-width: 0">
    <div class="flex items-center mb-sm pt-sm">
      <code class="truncate mr-1 progress-bar-light text-transparent">
        branchname
      </code>
      <span class="text-sm font-mono progress-bar-light rounded text-transparent">
        892762
      </span>
    </div>
    <div class="flex items-center">
      <strong class="whitespace-no-wrap mr-1 progress-bar-light rounded text-transparent">Build Commit Author Name</strong>
      <span class="truncate progress-bar-light rounded text-transparent">Build commit message</span>
    </div>
  </div>
  <div class="flex items-center">
    <div class="text-xl mr-2 progress-bar-light rounded text-transparent">
      XX
    </div>
    <div>
      <span class="text-sm font-semibold progress-bar-light rounded text-transparent">Builds Loading</span>
    </div>
  </div>
  <div style="height: 28px;" class="progress-bar-light rounded-full text-transparent">Loading</div>
</div>
