<div class="flex items-center {{if isTransparentHeader "link-dark"}}">
  {{#link-to "docs.index" class="hide-on-tablet"}}Docs{{/link-to}}
  <a class="ml-3 hide-on-tablet" href="https://docs.percy.io/docs/example-apps">Tutorials</a>
  {{#if session.isAuthenticated}}
    {{user-menu user=user class="link-white ml-3"}}
  {{else}}
    <a href="https://blog.percy.io" class="ml-3">Blog</a>
    {{#link-to "pricing" class="ml-3"}}Pricing{{/link-to}}
    {{#link-to "enterprise" class="ml-3"}}Enterprise{{/link-to}}
    {{sign-in-header-link
      classNames="mx-3 hide-on-mobile"
    }}
  {{/if}}
</div>
