<div class="p-2 bg-gray-000 border border-gray-100 u-text-left" data-test-public-project-notice>
  <strong>
    You're viewing a public {{viewedObject}}.
  </strong>
  You can look around,
    {{#if (not currentUser)}}
    but you'll need to
      <a href="#" {{action "showLoginModal"}} class="link-blue">
        Sign in
      </a>
    to
  {{else}}
    but you won't be able to
  {{/if}}
  approve anything.
</div>
