<div class="text-white bg-gray-300 font-semibold px-2 py-1 rounded" data-test-public-project-notice>
  You're viewing a public {{viewedObject}}. You can look around
    {{#if (not currentUser)}}
    , but you'll need to
      <a href="#" {{action "showLoginModal"}} style="color: var(--blue-700)">
        Sign in
      </a>
    to
  {{else}}
    but you'll not be able to
  {{/if}}
  approve anything.
</div>
