{{snapshot-viewer-header
  fullscreen=false
  snapshot=snapshot
  snapshotSelectedWidth=snapshotSelectedWidth
  selectedComparison=selectedComparison
  toggleViewMode=(action showSnapshotFullModalTriggered snapshot.id snapshotSelectedWidth activeBrowser)
  updateSelectedWidth=(action "updateSelectedWidth")
  createReview=createReview
  expandSnapshot=(action "expandSnapshot")
  activeBrowser=activeBrowser
  updateActiveBrowser=updateActiveBrowser
}}

{{#if isExpanded}}
  {{#if selectedComparison}}
    {{comparison-viewer
      comparison=selectedComparison
      allDiffsShown=allDiffsShown
      snapshotSelectedWidth=snapshotSelectedWidth
      isDefaultExpanded=isDefaultExpanded
      isUnchangedSnapshotExpanded=isUnchangedSnapshotExpanded
      data-test-SnapshotViewer-comparison=true
      activeBrowser=activeBrowser
    }}
  {{else}}
    <div class="p-2 text-center bg-gray-000 border-bottom border-gray-100" data-test-SnapshotViewer-noComparison>
      No snapshot taken at {{snapshotSelectedWidth}}px.
    </div>
  {{/if}}
{{/if}}
