<form action="javascript:;" class="flex items-center">
  {{#unless isCurrentUser}}
    {{form-fields/checkbox
        property="role"
        uncheckedValue="member"
        checkedValue="admin"
        title="Administrator"
        changeset=changeset
        validateProperty=(action "validateProperty" changeset "role")
    }}
  {{/unless}}
  <div class="u-text-right">
    {{saving-indicator isSaving=isSaving isSaveSuccessful=isSaveSuccessful classes="u-pull-left"}}
    {{form-fields/submit
      value=deleteText
      classes="btn btn-primary shadow-purple-lg mb-0"
      confirmationMessage="Are you sure? This user will lose all access to the organization."
      submit=(action "delete")
    }}
  </div>
</form>
