<form action="javascript:;">
  <div class="pt-2 px-2 bg-gray-000 rounded border mb-2">
    {{form-fields/input
      property="name"
      title="Organization name"
      changeset=changeset
      validateProperty=(action "validateProperty" changeset "name")
      autofocus=isInputFocused
      placeholder="Acme Co."
    }}
    {{#if errorMessage}}
      <div class="Form-errors">
        {{errorMessage}}
      </div>
    {{/if}}
  </div>
  <div class="flex justify-end">
    {{form-fields/submit
      value="Create Organization"
      classes="btn btn-primary shadow-purple-lg mb-0"
      submit=(action "save")
      disabled=isSubmitDisabled
    }}
  </div>
</form>
