<form action="javascript:;" class="mb-0">
  <div class="p-2 bg-gray-000 rounded border mb-2">
    {{form-fields/textarea
        property="emails"
        title="Email addresses"
        changeset=changeset
        autofocus=true
        validateProperty=(action "validateProperty" changeset "emails")
    }}
    {{form-fields/checkbox
        property="role"
        checkedValue="admin"
        title="Administrator"
        changeset=changeset
        validateProperty=(action "validateProperty" changeset "role")
    }}
    <p class="m-0 -mt-1">Allow these people to edit organization details, billing information, and invite new members. All normal members can create and manage projects.</p>
    {{#if errorMessage}}
      <div class="Form-errors">
        {{errorMessage}}
      </div>
    {{/if}}
  </div>

  {{form-fields/submit
    value="Send Invites"
    classes="btn btn-primary shadow-purple-lg mb-0"
    isSaving=isSaving
    isSaveSuccessful=isSaveSuccessful
    submit=(action "save")
  }}
</form>
