<form class="m-0" action="javascript:;" data-test-project-edit-form>
  <div class="p-2 bg-gray-000 rounded border mb-2">
    {{form-fields/input
        property="name"
        title="Project name"
        changeset=changeset
        validateProperty=(action "validateProperty" changeset "name")
    }}
    {{form-fields/input
        property="slug"
        title="Slug"
        changeset=changeset
        validateProperty=(action "validateProperty" changeset "slug")
    }}
    <div class="rounded bg-yellow-000 border border-yellow-100 p-2">
      <strong>Reminder:</strong> The slug is used to identify this project in URLs and the Percy API. If changed, you must update the <code>PERCY_PROJECT</code> environment variable in your CI service. Keep in mind, old build URLs will break if the slug is changed.
    </div>
  </div>

  <h2 class="text-xl font-semibold mt-3 mb-sm" data-test-auto-approve-branches-header>Auto-Approve Branches</h2>
  <p class="text-gray-400 mb-2">
    Builds with branches that match this filter will be automatically approved and won't require
    manual approval.
  </p>
  <div class="px-2 pt-2 bg-gray-000 rounded border mb-2">
    {{form-fields/input
      property="autoApproveBranchFilter"
      title="Branch filter pattern"
      changeset=changeset
    }}
    <div class="rounded border p-2 mb-2">
      <strong>Note:</strong> Separate multiple branches with spaces. You can use <code>*</code> as a wildcard match. Example: <code>master staging-* release-*.*.*</code>
    </div>
  </div>
  <div class="flex justify-end">
    {{form-fields/submit
      isSaving=isSaving
      isSaveSuccessful=isSaveSuccessful
      value="Save"
      classes="btn btn-primary shadow-purple-lg mb-0"
      submit=(action "save")
    }}
  </div>
</form>
