<form action="javascript:;">
  {{form-fields/input
      property="name"
      title="Project name"
      changeset=changeset
      validateProperty=(action "validateProperty" changeset "name")
  }}
  {{form-fields/input
      property="slug"
      title="Slug"
      changeset=changeset
      validateProperty=(action "validateProperty" changeset "slug")
  }}
  <p>
    The slug is used to identify this project in URLs and the Percy API. If changed, you must update
    the <code>PERCY_PROJECT</code> environment variable in your CI service. Note, old build URLs
    will break if the slug is changed.
  </p>
  {{#if (is-admin)}}
    <hr>
    <h4>Auto-Approve Branches</h4>
    <p>
      Builds with branches that match this filter will be automatically approved and won't require
      manual approval.
    </p>
    {{form-fields/input
      property="autoApproveBranchFilter"
      title="Branch filter pattern"
      changeset=changeset
    }}
    <p>
      Separate multiple branches with spaces. You can use <code>*</code> as a wildcard match.
      Example: <code>master staging-* release-*.*.*</code>
    </p>
  {{/if}}
  {{form-fields/submit
    isSaving=isSaving
    isSaveSuccessful=isSaveSuccessful
    value="Save"
    classes="Button Button--primary"
    submit=(action "save")
  }}
</form>
