.is-invisible {
  visibility: hidden;
}

.bg-purple-light {
  background: var(--bg-purple-light);
}

.shadow-l {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.bg-purple-gradient {
  background: var(--purple-gradient);
}

.bg-purple-gradient-pattern {
  background: url("/images/pattern-on-purple.svg"), var(--purple-gradient);
}

.bg-white-pattern {
  background: url("/images/pattern-on-white.svg");
}

.alt-p {
  font-size: var(--f4-size);
}

.alt-a {
  padding: 2px 8px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
}

.list-reset {
  margin-top: 0;
}

.h-screen-header {
  height: calc(100vh - var(--header-height));
}
