@charset "UTF-8";

//Tailwind CSS: https://tailwindcss.com/docs/what-is-tailwind/
@import "tailwind";

@import
  "base/base",
  "base/typography";

@import
  "keratin/keratin",
  "keratin-config";

// Addons.
@import
  "ember-power-select",
  "ember-modal-dialog/ember-modal-structure";

@import
  "variables/colors",
  "variables/fonts",
  "variables/mixins",
  "variables/animations",
  "variables/shadows",
  "variables/code",
  "variables/layout";

// Vendor styles
@import
  "vendor/skeleton",
  "vendor/auth0",
  "vendor/stripe_elements",
  "vendor/vendor_overrides"; // This should always go last in this list

// Base components.
@import
  "buttons",
  "cards",
  "forms",
  "flash_messages",
  "alerts";

@import
  "layout/container",
  "layout/responsive";

// Non-component styles.
@import
  "header",
  "footer",
  "marketing",
  "docs",
  "page_click_overlay",
  "code",
  "viewer",
  "utilities";

// Ember components.
@import
  "components/approval_button",
  "components/browser_switcher",
  "components/badge",
  "components/browser_family_selector",
  "components/build_card",
  "components/build_comparison_info",
  "components/build_duration",
  "components/build_header",
  "components/build_info_dropdown",
  "components/build_started",
  "components/build_state_badge",
  "components/build_container",
  "components/comparison_viewer",
  "components/comparison_viewer_full",
  "components/snapshot_viewer",
  "components/snapshot_viewer_full",
  "components/svg",
  "components/forms/organization_user_edit",
  "components/forms/gitlab_settings_edit",
  "components/icons",
  "components/image_spacer",
  "components/label",
  "components/loading_page",
  "components/marketing_num_diffs",
  "components/menu_icon",
  "components/mock_approval_flow",
  "components/note",
  "components/organizations/billing_section",
  "components/organizations/github_settings",
  "components/organizations/jump_to_billing",
  "components/organizations/settings_nav_wrapper",
  "components/organizations/switcher_nav",
  "components/pricing_section",
  "components/progress_bar",
  "components/project_list_sidebar",
  "components/projects/diff_base_settings",
  "components/projects/repo_integrator",
  "components/saving_indicator",
  "components/sidenav",
  "components/status_indicator",
  "components/status_pill",
  "components/supported_cis_image",
  "components/trial_bar",
  "components/user_avatar",
  "components/user_menu";

// Page specific styles.
@import
  "pages/changelog",
  "pages/home",
  "pages/settings",
  "pages/team";
