.text-white a {
  color: var(--white);
}

/* Link colors */

.link-gray {
  color: var(--gray-300) !important;

  &:hover {
    color: var(--gray-700) !important;
    text-decoration: none;
  }

  &.active {
    color: var(--gray-700) !important;
  }
}

.link-dark {
  color: var(--gray-700) !important;

  &:hover {
    color: var(--gray-700) !important;
  }
}
