/* stylelint-disable selector-no-qualifying-type */

.text-white a {
  color: var(--white);
}

/* Link colors */

.link-gray,
.link-gray a {
  color: var(--gray-300) !important;

  &:hover {
    color: var(--gray-700) !important;
    text-decoration: none;
  }

  &.active {
    color: var(--gray-700) !important;
  }
}

.link-dark,
.link-dark a {
  color: var(--gray-700) !important;

  &:hover {
    color: var(--gray-700) !important;
  }
}

.link-white,
.link-white a {
  color: var(--white) !important;

  &:hover {
    color: var(--white) !important;
  }
}

.link-blue,
.link-blue a {
  color: var(--blue-500) !important;

  &:hover {
    color: var(--blue-500) !important;
  }
}
