.badge {
  display: inline-block;
  position: relative;
  bottom: 6px;
  height: 12px;
  padding: 2px 4px;
  font-size: 9px;
  font-weight: var(--keratin-font-weight-bold);
  line-height: 1;
  color: var(--white);
  background: var(--purple-600);
  border-radius: 6px;
}
