.ComparisonViewerFull {
  text-align: center;

  img {
    max-width: none;
    box-shadow: 0 0 0 1px var(--very-light-gray);
  }

  .Viewer-pdiffImageOverlay {
    position: relative;
  }

  .Viewer-pdiffImageBox {
    border: 0;
  }
}
