.LoadingPage {
  padding: 200px 0;
  text-align: center;

  .fa-spinner {
    font-size: 3rem;
    color: var(--light-purple);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
  }
}
