{{#if organization.isVersionControlIntegrated}}
  <p class="text-gray-400 mb-2">You can optionally link this project to a repository. This enables {{#link-to "docs.page" "integrations/overview" class="font-semibold"}}Pull Request integration{{/link-to}} for this project.</p>
  <div class='repo-selector flex items-center mb-2'>
    {{#power-select
      selected=selectedRepo
      searchField="slug"
      placeholder="Select a repository"
      renderInPlace=true
      matchTriggerWidth=false
      allowClear=true
      options=organization.groupedRepos
      searchPlaceholder="Type to filter repositories"
      noMatchesMessage="No repositories found"
      afterOptionsComponent=(component "repo-refresh-status" isRepoRefreshInProgress=isRepoRefreshInProgress lastSyncedAt=lastSyncedAt)
      onchange=(action "chooseRepo")
      onopen=(action "refreshRepos")
      as |repo|
    }}
      {{repo.slug}}
    {{/power-select}}
    {{saving-indicator isSaving=isSaving isSaveSuccessful=isSaveSuccessful}}
  </div>
  <div class="rounded border p-2">
    <strong>Note:</strong> Missing a repository? Check your organization's {{#link-to "organizations.organization.integrations" project.organization.slug class="font-semibold"}} integration settings{{/link-to}}.
  </div>
{{else}}
  <div class="Alert Alert--info" data-test-repo-integrator-no-integrations>
    <strong>Missing organization source code integration.</strong> Before you can link a repository you must first {{#link-to "organizations.organization.integrations" project.organization.slug}}install an integration{{/link-to}} for your organization.
  </div>
{{/if}}
