{{#if organization.isVersionControlIntegrated}}
  <p>
    You can optionally link this project to a GitHub repository. This enables {{#link-to "docs.page" "learn/github-integration"}}Pull Request integration{{/link-to}} for this project.
  </p>
  <p class='repo-selector'>
    {{#power-select
      selected=selectedRepo
      searchField="slug"
      placeholder="Select a repository"
      renderInPlace=true
      matchTriggerWidth=false
      allowClear=true
      options=organization.groupedRepos
      searchPlaceholder="Type to filter repositories"
      noMatchesMessage="No repositories found"
      afterOptionsComponent=(component "repo-refresh-status" isRepoRefreshInProgress=isRepoRefreshInProgress lastSyncedAt=lastSyncedAt)
      onchange=(action "chooseRepo")
      onopen=(action "refreshRepos")
      as |repo|
    }}
      {{repo.slug}}
    {{/power-select}}
    {{saving-indicator isSaving=isSaving isSaveSuccessful=isSaveSuccessful}}
  </p>
  <p>
    Missing a repository? Check your organization's {{#link-to "organizations.organization.settings" project.organization.slug}}GitHub integration settings{{/link-to}}.
  </p>
{{else}}
  <div class="Alert Alert--info">
    <strong>Missing organization GitHub integration.</strong> Before you can link a repository you must first {{#link-to "organizations.organization.settings" project.organization.slug}}install the Percy GitHub integration{{/link-to}} in your organization.
  </div>
{{/if}}
