.animated-pricing-header > div {
  opacity: 0;
  animation: fade-in-up 1.5s ease-in-out;
  animation-fill-mode: forwards;

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      animation-delay: ($i * 200) * 1ms;
    }
  }
}

.pricing-feature-table {
  tr:nth-child(odd) {
    background: var(--purple-100);
  }
}

.pricing-table-section-header {
  td {
    color: var(--purple-600);
    background-color: var(--purple-200);
  }
}

.pricing-table-markdown,
.pricing-card-content {
  p {
    margin-bottom: 2px;
  }
}

.pricing-card-content {
  p {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--gray-700);
  }

  table {
    width: 100%;
    padding-bottom: 24px;
    font-weight: 600;
  }

  thead {
    color: var(--gray-300);
  }

  th {
    font-size: 12px;
    text-align: right;
  }

  td:first-child {
    text-align: left;
  }

  td {
    text-align: right;

  }
}
