<section data-test-integration-header class="px-2 pt-3">
  <div class="w-3/4 pb-3">
    <h1 class="text-xl font-semibold mb-sm">Set up GitHub</h1>
    <p class="text-gray-400">
      The Percy GitHub app will automatically update the pull request summary if there are visual differences needing review, and will show which team member approved them. It will also help us provide smarter comparisons for you, by picking more relevant base builds. Check out the <strong>{{#link-to "docs.page" "integrations/github"}}Percy + GitHub{{/link-to}}</strong> docs to learn more.
    </p>
  </div>
</section>

<section class="px-2">
  <div class="bg-white rounded shadow-1 p-2 mb-2">
    <div class="flex items-center mb-2">
      {{inline-svg "github-icon-lg" class="mr-1"}}
      <h2 class="text-xl font-semibold m-0">GitHub Integration</h2>
    </div>

    {{#organizations/require-role role="admin" organization=organization}}
      <div class="p-2 bg-gray-000 rounded border mb-2">
        {{#if (not (await isEligibleForGithubIntegration))}}
          To install the GitHub integration you first need to {{#link-to 'settings.connected-accounts'}} connect your GitHub account{{/link-to}}.
        {{else}}
          {{organizations/github-integrator organization=organization}}
        {{/if}}
      </div>
    {{/organizations/require-role}}

    <div class="flex justify-end">
      {{#link-to
        'organizations.organization.integrations'
        organization.slug
        class="btn"
      }}
        Back
      {{/link-to}}
    </div>
  </div>
</section>
