<section data-test-integration-header class="px-2 pt-3">
  <div class="w-3/4 pb-3">
    <h1 class="text-xl font-semibold mb-sm">Set up GitLab</h1>
    <p class="text-gray-400">
      We’ll need just a bit of information to get Percy set up on your GitLab account.
      If you need some help, check out our <strong>{{#link-to "docs.page" "integrations/gitlab"}}Percy + GitLab{{/link-to}}</strong> doc to guide you through the set up process.
      {{#if currentGitlabIntegration.isGitlabSelfHostedIntegration}}
        <span data-test-integration-note>
          If you’re running GitLab behind a firewall, please <a href="#" data-test-integration-contact-support {{action "showSupport"}}>get in touch</a>.
        </span>
      {{/if}}
    </p>
  </div>
</section>

<section class="px-2">
  <div data-test-gitlab-settings class="bg-white rounded shadow-1 p-2 mb-2">
    {{#organizations/require-role role="admin" organization=organization}}
      {{forms/gitlab-settings-edit
        organization=organization
        currentGitlabIntegration=currentGitlabIntegration
        isNewRecord=isNewRecord
        afterDelete=afterDelete
      }}
    {{/organizations/require-role}}
  </div>
  {{#if (not isNewRecord)}}
    <div class="rounded bg-yellow-000 border border-yellow-100 p-2 mb-2">
      <strong>Reminder:</strong> Each project must be linked to a GitLab repository for <strong>{{#link-to "docs.page" "integrations/gitlab"}}Merge Request integration{{/link-to}}</strong> to work. You can verify the link in each project's settings.
    </div>
  {{/if}}
</section>
