.marketing-markdown {
  ul {
    padding-left: var(--spacing-2);
    list-style-position: outside;
  }

  li {
    margin-bottom: var(--spacing-1);
  }
}

.marketing-content-block-dark {
  background-color: var(--darkest-gray);

  .content-block-superheader,
  .content-block-subheader,
  .content-block-bodytext,
  .content-block-supporting-text,
  .content-block-supporting-text-body {
    color: var(--light-gray);

    p {
      color: var(--light-gray);
    }
  }

  .content-block-header,
  .content-block-supporting-text-header {
    color: white;
  }
}

/* stylelint-disable selector-max-compound-selectors */
.marketing-index .content-block-bodytext {
  p {
    text-align: center;
  }

  p img {
    max-width: 100px;
    max-height: 100px;
    padding: 0 8px;
  }
}
/* stylelint-enable */
