/* stylelint-disable selector-max-compound-selectors */

.content-block-header,
.content-block-subheader {
  max-width: 800px;
  margin: 0 auto;
}

.content-block-subheader {
  p {
    font-size: 18px;
  }
}

.marketing-content-block-dark {
  background-color: var(--darkest-gray);

  .content-block-superheader,
  .content-block-subheader,
  .content-block-bodytext,
  .content-block-supporting-text,
  .content-block-supporting-text-body {
    color: var(--light-gray);

    p {
      color: var(--light-gray);
    }
  }

  .content-block-header,
  .content-block-supporting-text-header {
    color: white;
  }

  .content-block-bodytext,
  .content-block-supporting-text-body {
    ul {
      li::before {
        border-color: transparent var(--gray-100);
      }
    }
  }
}

.content-block-bodytext {
  p {
    text-align: center;
  }

  p img {
    max-width: 100px;
    max-height: 100px;
    padding: 0 8px;
  }
}

.content-block-bodytext,
.content-block-supporting-text-body {
  ul {
    height: 100%;
    padding-left: 25px;
    font-size: 16px;
    list-style: none;

    li {
      margin-left: 6px;
    }

    li::before {
      content: "";
      display: block;
      position: relative;
      top: 1em;
      left: -1em;
      width: 0;
      height: 0;
      border-color: transparent var(--purple-600);
      border-style: solid;
      border-width: 0.35em 0 0.35em 0.45em;
    }
  }
}

.content-block-supporting-text-body {
  ul {
    padding-left: 16px;
  }
}

/* stylelint-enable */
