.marketing-hero-dark {
  background-color: var(--darkest-gray);

  .hero-block-header {
    color: white;
  }

  .hero-block-superheader,
  .hero-block-subheader {
    color: var(--light-gray);
  }

  .marketing-menu-bar {
    a {
      color: white;
    }
  }

  .ember-basic-dropdown-trigger:focus,
  .ember-basic-dropdown-trigger:focus:active {
    background-color: var(--darkest-gray);
  }
}

.menu-bar-logomark {
  min-width: 143px;
}
