.hero-block-superheader,
.hero-block-subheader {
  max-width: 800px;
  margin: 0 auto;
}

.marketing-hero-dark {
  background-color: var(--darkest-gray);

  .hero-block-header {
    color: white;
  }

  .hero-block-superheader,
  .hero-block-subheader {
    color: var(--light-gray);
  }

  .marketing-menu-bar {
    a,
    .lg\:text-purple-600 {
      @media (min-width: 1012px) {
        color: white;
      }
    }
  }

  .ember-basic-dropdown-trigger:focus,
  .ember-basic-dropdown-trigger:focus:active {
    background-color: var(--darkest-gray);
  }
}

.menu-bar-logomark {
  min-width: 143px;
}

.hero-main-image {
  min-height: 200px;
  margin-top: -94px;
}

@media (min-width: 1012px) {
  .hero-main-image {
    margin-top: -172px;
  }

  .menu-bar-dropdown {
    transform: translateX(-50%);

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      width: 45%;
      height: 1px;
      background: var(--purple-600);
      transform: translateX(-50%);
    }
  }
}

.menu-bar-dropdown-item:last-child {
  border: 0;
}

.menu-bar-item:hover > .menu-bar-dropdown {
  display: block;
}

.order-first {
  order: -1;

}

@media (min-width: 1012px) {
  .lg\:order-normal {
    order: 0;
  }
}
