<td class="font-semibold p-1 pl-2 bg-gray-100">{{name}}</td>
<td class="text-center text-gray-500 p-1 bg-gray-100"></td>
<td class="text-center text-gray-500 p-1 bg-gray-100"></td>
<td class="text-center text-gray-500 p-1 bg-gray-100"></td>
