<section class="px-2 pt-3">
  <h1 class="text-xl font-semibold mb-sm">Invite users to {{capitalize model.name}}</h1>
  <p class="text-gray-400 w-3/4">
     Separate each email with a space or a new line. Invitations expire after one week.
  </p>
  <div class="bg-white rounded shadow-1 p-2 mb-2">
    <h2 class="text-xl font-semibold mb-1">New user info</h2>
    {{#organizations/require-role role="admin" organization=model}}
      {{forms/organization-invite organization=model}}
    {{/organizations/require-role}}
  </div>
</section>
