{{organizations/users-header organization=organization isInvitePath=isInvitePath}}

<section class="px-2 pt-3">
  {{#if organization.canInvite}}
    <div class="bg-white rounded shadow-1 p-2 mb-2">
      <h2 class="text-xl font-semibold mb-1">Invite users to {{capitalize organization.name}}</h2>
      <p class="text-gray-400 w-3/4">
         Separate each email with a space or a new line. Invitations expire after one week.
      </p>
      {{#organizations/require-role role="admin" organization=organization}}
        {{forms/organization-invite organization=organization}}
      {{/organizations/require-role}}
    </div>
  {{else}}
    <div>
      You do not have any seats available. Please {{#link-to "organizations.organization.billing" organization.slug class="py-1 link-gray font-semibold"}} upgrade your plan {{/link-to}} to add more users.
    </div>
  {{/if}}
</section>
