<div class="bg-gray-pattern mb-9 p-4">
  <div class="py-3"></div>
  <div class="flex">
    <div class="siema container-lg ">
      {{#each quoteBlock.customerQuotes as |quote|}}
        {{marketing/customer-quote quote=quote}}
      {{/each}}
    </div>
  </div>
  <div class="flex justify-center">
    {{#each quoteBlock.customerQuotes as |quote index|}}
      <span class="text-3xl px-1 cursor-pointer {{if (eq index currentSlide) "text-gray-600" "text-gray-200"}}" {{action "switchToSlide" index}} data-test-quote-block-dot>
        •
      </span>
    {{/each}}
  </div>
</div>
