<div class="text-center py-3">
  {{#if content.superheader}}
    <h2 class="uppercase half-underline inline-block py-sm mb-2 text-base font-bold text-gray-300 tracking-wide border-t hero-block-superheader">
      {{content.superheader}}
    </h2>
  {{/if}}

  <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold mb-1 hero-block-header">{{content.header}}</h1>

  {{#if content.subheadText}}
    <div class="text-xl text-gray-400 mb-1 hero-block-subheader" >
      {{content.subheadText}}
    </div>
  {{/if}}
</div>
