<footer class="bg-gray-700 text-white container-full py-8">
  <div class="container-lg grid col-4 mb-8">
    <div>
      <div class="inline-block half-underline half-underline-on-dark text-lg font-semibold leading-loosest mb-2">
        Product
      </div>
      <div class="font-semibold link-gray">
        <a href="#" class="block mb-sm">Visual Testing</a>
        <a href="#" class="block mb-sm">Features</a>
        <a href="#" class="block mb-sm">Integrations</a>
        <a href="#" class="block mb-sm">Pricing</a>
        <a href="#" class="block mb-sm">Enterprise</a>
      </div>
    </div>
    <div>
      <div class="inline-block half-underline half-underline-on-dark text-lg font-semibold leading-loosest mb-2">
        Resources
      </div>
      <div class="font-semibold link-gray">
        <a href="#" class="block mb-sm">Customers</a>
        <a href="#" class="block mb-sm">Guides</a>
        <a href="#" class="block mb-sm">Blog</a>
        <a href="#" class="block mb-sm">FAQ's</a>
      </div>
    </div>
    <div>
      <div class="inline-block half-underline half-underline-on-dark text-lg font-semibold leading-loosest mb-2">
        Development
      </div>
      <div class="font-semibold link-gray">
        <a href="#" class="block mb-sm">Documentation</a>
        <a href="#" class="block mb-sm">Changelog</a>
        <a href="#" class="block mb-sm">Open Source</a>
        <a href="#" class="block mb-sm">Status</a>
      </div>
    </div>
    <div>
      <div class="inline-block half-underline half-underline-on-dark text-lg font-semibold leading-loosest mb-2">
        Company
      </div>
      <div class="font-semibold link-gray">
        <a href="#" class="block mb-sm">About</a>
        <a href="#" class="block mb-sm">Privacy</a>
        <a href="#" class="block mb-sm">Security</a>
        <a href="#" class="block mb-sm">Terms</a>
      </div>
    </div>
  </div>
  <div class="container-lg flex justify-between">
    <div class="flex items-center">
      <a href="https://percy.io" class="mr-2">
        <figure class="svg-container">
          {{inline-svg "/marketing/logo-full-white"}}
        </figure>
      </a>
      <div class="font-semibold text-base">
        &#169; {{moment-format (now) 'YYYY'}}
      </div>
    </div>
    <div class="flex items-center">
      <a href="https://twitter.com/percy_io" target="_blank" rel="noopener" class="mr-2">
        <figure class="svg-container">
          {{inline-svg "marketing/twitter-icon-white"}}
        </figure>
      </a>
      <a href="https://github.com/percy" target="_blank" rel="noopener">
        <figure class="svg-container">
          {{inline-svg "marketing/github-icon-white"}}
        </figure>
      </a>
    </div>
  </div>
</footer>
