<li class="menu-bar-dropdown-item lg:border-b border-purple-300 mb-0">
  {{#link-to linkRoute classNames="hover:no-underline"}}
    <div class="w-full flex items-center flex items-center cursor-pointer font-semibold py-sm lg:py-2 lg:px-2 lg:hover:bg-purple-100">
      <div class="mr-2 w-10">
        {{inline-svg icon}}
      </div>
      <div class="font-semibold {{linkColor}}">
        {{text}}
      </div>
    </div>
  {{/link-to}}
</li>
