<td class="font-semibold p-1 pl-2">{{row.rowTitle}}</td>

<td class="text-center text-gray-500 p-1">
  {{#if row.smallCell}}
    {{markdown-to-html row.smallCell class="pricing-table-markdown"}}
  {{/if}}
</td>

<td class="text-center text-gray-500 p-1">
  {{#if row.mediumCell}}
    {{markdown-to-html row.mediumCell class="pricing-table-markdown"}}
  {{/if}}
</td>

<td class="text-center text-gray-500 p-1">
  {{#if row.largeCell}}
    {{markdown-to-html row.largeCell class="pricing-table-markdown"}}
  {{/if}}
</td>
