<section class="pb-9">
  {{#if invites}}
    <div class="px-4 pt-2 pb-sm text-sm text-gray-300 font-semibold border-b">{{invites.length}} Pending invitations</div>

    {{#each invites as |invite|}}
      {{organizations/invite-card
        invite=invite
        organization=organization
      }}
    {{/each}}

    <div class="px-4 pt-2 pb-sm text-sm text-gray-300 font-semibold border-b">{{users.length}} Active members</div>
  {{/if}}

  {{#each users as |organizationUser|}}
    {{organizations/user-card organizationUser=organizationUser}}
  {{/each}}
</section>
