{{#if (eq role organization.currentUserMembership.role)}}
  {{yield}}
{{else}}
  <div class="px-2">
    <div class="Alert Alert--error">
      <strong>This feature requires organization admin permissions.</strong>
    </div>
  </div>
{{/if}}