<div class="settings-nav-wrapper flex position-relative">
  <aside class="settings-sidebar vh-full overflow-y-scroll shrink-0 sticky pt-4 border-right border-gray-100" data-test-sidenav>
    <section class="border-bottom border-gray-000 mb-3">
      <ul class="list-reset mb-3">
        <li>
          {{#link-to "organizations.organization.settings" organization.slug class="d-block mb-2 px-4 link-gray text-weight-semibold"}}Settings{{/link-to}}
        </li>
        <li>
          {{#link-to "organizations.organization.users" organization.slug class="d-block mb-2 px-4 link-gray text-weight-semibold"}}Users{{/link-to}}
        </li>
        <li>
          {{#link-to "organizations.organization.billing" organization.slug class="d-block px-4 link-gray text-weight-semibold"}}Billing{{/link-to}}
        </li>
      </ul>
    </section>
    <section>
      <ul class="pb-4 list-reset" data-test-sidenav-list-projects>
        {{#each organization.projects as |project|}}
        <li>
          {{#link-to "organization.project.settings" organization.slug project.slug classNames="d-block mb-2 px-4 link-gray text-weight-semibold
          truncate"}}{{project.name}}{{/link-to}}
        </li>
        {{/each}}
        <li class="px-4">
          {{#link-to "organizations.organization.projects.new" organization.slug classNames="text-weight-semibold"}}Create new project{{/link-to}}
        </li>
      </ul>
    </section>
  </aside>

  <main class="flex-1 bg-gray-000">
    {{yield}}
  </main>
</div>