<div class="settings-nav-wrapper flex relative">
  <aside class="settings-sidebar h-screen overflow-y-scroll flex-no-shrink sticky pin-t pt-3 border-r" data-test-sidenav>
    <section class="border-b border-gray-000 mb-3">
      <ul class="list-reset mb-2">
        <li class="mb-0">
          {{#link-to "organizations.organization.settings" organization.slug class="block py-1 px-4 link-gray font-semibold"}}Settings{{/link-to}}
        </li>
        <li class="mb-0">
          {{#link-to "organizations.organization.billing" organization.slug class="block py-1 px-4 link-gray font-semibold"}}Billing{{/link-to}}
        </li>
        <li class="mb-0">
          {{#link-to "organizations.organization.integrations" organization.slug class="block py-1 px-4 link-gray font-semibold"}}Integrations{{/link-to}}
        </li>
        <li class="mb-0">
          {{#link-to "organizations.organization.users" organization.slug class="block py-1 px-4 link-gray font-semibold"}}Users{{/link-to}}
        </li>
      </ul>
    </section>
    <section>
      <ul class="list-reset pb-4 mb-0" data-test-sidenav-list-projects>
        {{#each organization.projects as |project|}}
        <li class="mb-0">
          {{#link-to "organization.project.settings" organization.slug project.slug classNames="block mb-2 px-4 link-gray font-semibold
          truncate"}}{{project.name}}{{/link-to}}
        </li>
        {{/each}}
        <li class="px-4">
          {{#link-to "organizations.organization.projects.new" organization.slug classNames="font-semibold"}}Create new project{{/link-to}}
        </li>
      </ul>
    </section>
  </aside>

  <main class="flex-1 bg-gray-000">
    {{yield}}
  </main>
</div>
