{{#if organization.organizationUsers.isPending}}
  {{loading-page}}
{{/if}}

<div class="rounded border">
  {{#each organization.organizationUsers as |organizationUser|}}
    {{organizations/user-card organizationUser=organizationUser}}
  {{/each}}
</div>