<div class="bg-white border-b z-1">
  <div class="flex flex-wrap justify-between items-center py-3 px-4">
    <div>
      <h2 class="mr-2 mb-sm text-xl md:text-2xl font-semibold leading-none">{{capitalize organization.name}} users</h2>
      <p class="mb-0 leading-none">
        You’ve used {{organization.seatsUsed}} of {{organization.seatLimit}} seats available.
        Head to your {{#link-to "organizations.organization.billing" organization.slug class="py-1 font-semibold"}}Billing page{{/link-to}} to add more users.
      </p>
    </div>
    {{#link-to "organizations.organization.users.invite" organization.slug class="percy-btn percy-btn-primary" disabled=disableInviteButton}}
      Invite new user
    {{/link-to}}
  </div>

  {{#if showInviteForm}}
    <div class="px-4 mb-4">
      {{#organizations/require-role role="admin" organization=organization}}
        {{forms/organization-invite organization=organization}}
      {{/organizations/require-role}}
    </div>
  {{/if}}

  <div class="flex px-4 mb-sm">
    <div style="min-width: 200px" class="flex-1 text-sm text-gray-300 font-semibold pr-2">Name</div>
    <div style="min-width: 100px" class="flex-1 text-sm text-gray-300 font-semibold">Role</div>
    <div class="flex-1 text-sm text-gray-300 font-semibold">Joined on</div>
    <div class="flex-1"></div>
  </div>
</div>
