{{fixed-top-header}}

<div class="container-full container-vh bg-white-pattern flex items-center justify-center">
  {{status-panel
    inlineSvgName="email-large-icon"
    mainText="Almost there!"
    secondaryText="We've sent you a verification email.<br/><strong>Please click the link in the email to finish signing up.</strong>"
  }}
</div>

{{main-footer}}
