{{title "Request a demo"}}
{{marketing/marketing-page
  page=model
  redirectToDefaultOrganization=(route-action "redirectToDefaultOrganization")
}}
<div class="flex justify-center">
    <iframe
      src="https://share.hsforms.com/1hjQTUAeZQ86qt_QKMK3EOQ1p9mw"
      width="696px"
      height="693px"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
      class="mb-8"
      scrolling="no">
      Loading...
    </iframe>
</div>
{{main-footer}}
