{{title "Team"}}
{{marketing/marketing-page
  page=model}}

<section id="current-openings" class="container-full bg-purple-gradient-pattern py-8">
  <div class="container-md">
    <h2 class="text-2xl md:text-3xl text-center font-normal text-white mb-4">Current Openings</h2>
    <p class="alt-p text-white text-center px-5">We're always looking for awesome people that can make a positive impact at Percy. If you believe you're one of those people, get in touch! <a href="mailto:jobs@percy.io" class="text-white font-semibold alt-a">jobs@percy.io</a></p>
    <div class="current-openings-list">
      <a href="https://jobs.lever.co/percy/e3d84e6d-0cb3-4903-a054-3d63a2b9164d" class="current-opening bg-white flex justify-between items-center p-1 pl-2 rounded">
        <div class="current-opening-title font-semibold">Senior Software Engineer (Backend/Infrastructure)</div>
        <div class="label-container">
          <div class="label ml-sm">sf or remote</div>
          <div class="label ml-sm">full-time</div>
          <div class="label ml-sm">engineering</div>
        </div>
      </a>
      <a href="https://jobs.lever.co/percy/d9af9186-7c23-4c5c-90d5-d7b37bb73d13" class="current-opening bg-white flex justify-between items-center p-1 pl-2 rounded">
        <div class="current-opening-title font-semibold">Account Executive (AE)</div>
        <div class="label-container">
          <div class="label ml-sm">sf</div>
          <div class="label ml-sm">full-time</div>
          <div class="label ml-sm">sales</div>
        </div>
      </a>
    </div>
  </div>
</section>

{{main-footer}}
